.overview-container {
  display: grid;
  grid-template-columns: 80% 20%;

  p {
    margin-left: 10px;
    font-size: 1.5rem;
  }

  .tile-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: calc(100vh - 100px);

    app-tile {
      margin-left: 20px;
      margin-bottom: 20px;
    }
  }

  .upload-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
      margin: 0px 10px;
      font-size: 1.5rem;
      padding: 10px;
      border: unset;
      background-color: #009bd6;

      &:hover {
        cursor: pointer;
        background-color: #00719c;
      }
    }

    .loader {
      height: 50px;
      width: 50px;
      margin-top: 20px;
    }

    .invisible-file-picker {
      display: none;
    }
  }
}
