<div class="overview-container">
  <div class="tile-container" *ngIf="devices.length !== 0; else placeholder">
    <app-tile *ngFor="let device of devices" [device]="device"></app-tile>
  </div>
  <ng-template #placeholder>
    <p>Keine Geräte gefunden</p>
  </ng-template>
  <div class="upload-section">
    <button (click)="openFileImport()">Geräte hinzufügen</button>
    <img
      src="../../../assets/loading.gif"
      alt="loading"
      class="loader"
      *ngIf="uploadOngoing"
    />
    <input
      #fileInput
      class="invisible-file-picker"
      type="file"
      accept=".json"
      (change)="fileChanged($event)"
    />
  </div>
</div>
