<div class="container">
  <div class="details" (click)="navigateToDetails()">
    <p>{{ device.name }}</p>
    <p class="device-type-id">{{ device.deviceTypeId }}</p>
    <div class="failsafe">
      <p>Failsafe: </p>
      <img *ngIf="device.failsafe" src="../../../assets/check.png" alt="Yes" class="check"/>
      <img *ngIf="!device.failsafe" src="../../../assets/cross.png" alt="No" class="cross"/>
    </div>
  </div>
  <img
    src="../../../assets/delete.png"
    alt="del"
    class="delete-button"
    (click)="openDeleteDialog()"
  />
</div>

<div class="delete-dialog-overlay" *ngIf="showDeleteDialog">
  <div class="delete-dialog">
    <p>Gerät wirklich löschen?</p>
    <div class="button-section">
      <button (click)="delete()">Löschen</button>
      <button (click)="showDeleteDialog = false">Abbrechen</button>
    </div>
  </div>
</div>
